<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增凭证')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <style>
        .vou_bottom_def {
            background: #fafafa
        }
        .vou_bottom_red {
            background: red
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-voucher-add">
        <div class="form-group">
            <label class="col-sm-2 control-label is-required">凭证编号：</label>
            <div class="col-sm-2">
                <input name="subjectId" class="form-control" type="text" required>
            </div>
            <label class="col-sm-2 control-label">凭证日期：</label>
            <div class="col-sm-2">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="vouDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                </div>
            </div>
            <label class="col-sm-2 control-label">业务类型：</label>
            <div class="col-sm-2">
                <select name="busType" class="form-control m-b" th:with="type=${@dict.getType('voucher_bus_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label">摘要：</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input name="summary" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label">凭证属性：</label>-->
        <!--<div class="col-sm-4">-->
        <!--<select name="vouType" class="form-control m-b" th:with="type=${@dict.getType('voucher_type')}"-->
        <!--required>-->
        <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<label class="col-sm-2 control-label">业务类型：</label>-->
        <!--<div class="col-sm-4">-->
        <!--<select name="busType" class="form-control m-b" th:with="type=${@dict.getType('voucher_bus_type')}">-->
        <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <div class="fixed-table-body">
            <table class="table table-hover" id="vouTable">
                <thead>
                <tr class="vou_bottom_def">
                    <td>摘要</td>
                    <td>科目名称</td>
                    <td>借方金额</td>
                    <td>贷方金额</td>
                    <td><a onclick="addVoucher()">插入</a></td>
                </tr>
                </thead>
                <tbody>
                <tr id="vouContent">
                    <td><input type="text" name="summary"></td>
                    <td id="subjectColumn">
                        <input type="hidden" name="subjectNum" id="subjectNum1"/>
                        <input type="text" name="subjectName" id="subjectName1" readonly="readonly"
                               onclick="selectSubject(this.id)"/>
                    </td>
                    <td><input type="text" name="debit" onchange="sumAmount('debitSum','change')" onfocus="setVal(this)" value="0.00"></td>
                    <td><input type="text" name="credit" onchange="sumAmount('creditSum','change')" onfocus="setVal(this)" value="0.00"></td>
                    <td><a onclick="delVou(this)" style="color:red">删除</a></td>
                </tr>

                <tr id="vouBottom" class="vou_bottom_def">
                    <td></td>
                    <td></td>
                    <td><span id="debitSum">0.00</span></td>
                    <td><span id="creditSum">0.00</span></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">
                    <i class="fa fa-check"></i>保 存
                </button>
                &nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
                    <i class="fa fa-reply-all"></i>关 闭
                </button>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "business/voucher"
    $("#form-voucher-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-voucher-add').serialize());
        }
    }

    $("input[name='vouDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    //插入凭证
    function addVoucher() {
        var cloneTr = $("#vouContent").clone();
        var subNo = $("#vouTable tr").length - 1;
        cloneTr.find("[name='subjectNum']").attr("id", "subjectNum" + subNo);
        cloneTr.find("[name='subjectName']").attr("id", "subjectName" + subNo);
        cloneTr.find("input").each(function () {
            var val = $(this).val();
            if (val != "0.00"){
                $(this).val("");
            }
        });
        cloneTr.insertBefore("#vouBottom");
        // $("#vouTable").append(cloneTr);
    }

    function selectSubject(id) {
        var no = id.substr(id.length - 1, 1);
        $.modal.open("选择科目", ctx + "business/subject/selectSubjects/" + no, 700, $(window).height() - 30);
    }
    function delVou(obj) {
        $(this).remove();
        //通过this找到父级元素节点
        var tr = obj.parentNode.parentNode;
        //找到表格
        var tbody = tr.parentNode;
        if (tbody.rows.length == 1) {
            $.modal.alert("不能删除第一行");
            return;
        }
        //删除行
        tbody.removeChild(tr);
        sumAmount('debitSum', '');
        sumAmount('creditSum', 'change');
    }
    function checkNum(obj) {
        if (Number(obj) == 'NaN') {
            $.modal.alert("请输入数字");
            return false;
        }
        return true;
    }
    function sumAmount(sumTag, change) {
        var oper = true;
        var sumAmount = 0.00;
        $("#vouTable").find("[name=debit]").each(function () {
            var debit = $(this).val();
            if (debit == '') {
                debit = "0.00";
            }
            if (checkNum(debit)) {
                sumAmount = sumAmount + parseFloat(debit);
            } else {
                oper = false;
                return;
            }
        });
        if (oper) {
            $("#" + sumTag).text(sumAmount);
            if (change == 'change'){
                changeBottom();
            }
        }
    }
    function changeBottom() {
        var ds = $("#debitSum").text();
        var cs = $("#creditSum").text();
        if (ds == cs) {
            $("#vouBottom").attr("class","vou_bottom_def");
        }else{
            $("#vouBottom").attr("class","vou_bottom_red");
        }

    }
    function setVal(obj) {
        var val = obj.value;
        if (val == "0.00"){
            obj.value = "";
        }
    }
</script>
</body>
</html>