<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserOnlineMapper">

<insert id="saveOnline" parameterType="SysUserOnline" databaseId="oracle">
		merge into sys_user_online a
		using (select count(1) co
		         from sys_user_online
		        where sessionid = #{sessionId}) b
		on (b.co <![CDATA[ <> ]]> 0)
		when matched then
		  update
		     set login_name       = #{loginName},
		         dept_name        = #{deptName},
		         ipaddr           = #{ipaddr},
		         login_location   = #{loginLocation},
		         browser          = #{browser},
		         os               = #{os},
		         status           = #{status}, 
		         start_timestamp  = #{startTimestamp},
		         last_access_time = #{lastAccessTime},
		         expire_time      = #{expireTime}
		         where sessionid = #{sessionId}
		when not matched then
		  insert
		  values
		    (#{sessionId}, #{loginName}, #{deptName}, #{ipaddr}, #{loginLocation}, #{browser}, #{os}, #{status}, #{startTimestamp}, #{lastAccessTime}, #{expireTime})
	</insert>
	
	<select id="selectOnlineByExpired" parameterType="String" resultMap="SysUserOnlineResult" databaseId="oracle">
		<include refid="selectOnlineVo"/> o 
		WHERE o.last_access_time <![CDATA[ <= ]]> to_date(#{lastAccessTime},'yyyy-MM-dd HH24:mi:ss') ORDER BY o.last_access_time ASC
	</select>

</mapper> 